* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.6em;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 16px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: unset;
}
img {
  width: 100%;
  object-fit: cover;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.67%;
}
.col-3 {
  padding: 0px 15px;
  width: 25%;
  box-sizing: border-box;
}
.col-4 {
  padding: 0px 15px;
  width: 33%;
  box-sizing: border-box;
}
.col-5 {
  padding: 0px 15px;
  width: 41.67%;
  box-sizing: border-box;
}
.col-6 {
  padding: 0px 15px;
  width: 50%;
  box-sizing: border-box;
}
.col-10 {
  padding: 0px 15px;
  width: 83,33%;
  box-sizing: border-box;
}
.col-12 {
  padding: 0px 15px;
  width: 100%;
  box-sizing: border-box;
}
@media all and (max-width: 1200px) {
  .header .header-content .navbar {
    display: none;
  }
  .header .header-content .header-right .icon-responsive {
    font-size: 20px;
    display: block;
  }
  .main-content .slider-detail .slider-heading {
    font-size: 40px !important;
    margin-bottom: 10px !important;
  }
  .main-content .slider-detail .slider-title {
    font-size: 26px !important;
    margin-bottom: 15px !important;
  }
  .main-content .categories-content {
    padding: 0 15px;
    overflow: hidden;
  }
}
@media all and (max-width: 1024px) {
  .header {
    line-height: 60px;
  }
  .main-content .slider-detail .slider-heading {
    font-size: 34px !important;
    margin-bottom: 10px !important;
  }
  .main-content .slider-detail .slider-title {
    font-size: 24px !important;
    margin-bottom: 15px !important;
  }
  .main-content .categories-content {
    display: flex;
  }
  .main-content .categories-content .categories-content-item {
    border-bottom: 1px solid #777;
    flex: 0 0 50%;
  }
  .main-content .listing .listing-content .listing-item {
    padding: 0px 15px !important;
    width: 33% !important;
    box-sizing: border-box !important;
  }
}
@media all and (max-width: 768px) {
  .main-content .slider-detail .slider-heading {
    font-size: 30px !important;
    margin-bottom: 8px !important;
  }
  .main-content .slider-detail .slider-title {
    font-size: 20px !important;
  }
  .listing .listing-content .listing-item {
    padding: 0px 15px !important;
    width: 50% !important;
    box-sizing: border-box !important;
  }
}
.header {
  width: 100%;
  background-color: rgba(13, 8, 7, 0.6);
  color: #ffffff;
  line-height: 100px;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
}
.header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header-content .logo {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .logo img {
  width: 200px;
}
.header-content .navbar {
  padding: 0;
  position: relative;
}
.header-content .navbar ul {
  display: flex;
  position: absolute;
  top: 3px;
  right: 5px;
}
.header-content .navbar ul li {
  margin: 0 27px;
}
.header-content .navbar ul li:last-child {
  margin-right: 0;
}
.header-content .navbar ul li:first-child {
  margin-left: 0;
}
.header-content .navbar ul li a {
  color: #fff;
  transition: 0.3s;
}
.header-content .navbar ul li a:hover {
  color: #dd2f31;
}
.header-right {
  display: flex;
  justify-content: right;
}
.header-right-item {
  font-size: 16px;
  margin: 0 25px;
  position: relative;
  cursor: pointer;
}
.header-right-item:hover {
  color: #dd2f31;
}
.header-right-item::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 16px;
  background-color: #777;
  top: 42px;
  right: -26px;
}
.header-right-item:last-child {
  margin-right: 0px;
}
.header-right-item:last-child::after {
  display: none;
}
.header-right-item:nth-child(3)::after {
  display: none;
}
.header-right-item:nth-child(4)::after {
  display: none;
}
.header-right .icon-responsive {
  display: none;
}
.footer {
  background-color: #222222;
  color: #777777;
}
.footer-inner {
  margin-bottom: 25px;
}
.footer-inner .footer-top {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 56px;
}
.footer-inner .footer-top .logo {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
}
.footer-inner .footer-top .logo img {
  width: 200px;
  margin: 0 auto;
}
.footer-inner .footer-top .description {
  font-size: 14px;
  max-width: 770px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
}
.footer-inner .footer-top .contact i {
  padding: 0 23px;
}
.footer-inner .footer-content {
  border-top: 1px solid #777;
}
.footer-inner .footer-content .item {
  width: 25%;
  padding: 0px 15px;
  padding-top: 71px;
  box-sizing: border-box;
}
.footer-inner .footer-content .item-inner .title {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.footer-inner .footer-content .item-inner .list-item li {
  margin-bottom: 15px;
}
.footer-inner .footer-content .item-inner .list-item a {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
}
.footer-inner .footer-content .item-inner .list-item i {
  margin-right: 20px;
}
.footer .copyright {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  background-color: #000000;
}
.slider .next-slider,
.slider .prev-slider {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 20px;
  z-index: 1;
}
.slider .next-slider {
  left: 20px;
}
.slider .prev-slider {
  right: 5px;
}
.slider .slider-content .slider-image .image-bg {
  filter: brightness(80%);
}
.slider .slider-content .slider-image .image-bg img {
  width: 100%;
  height: 851px;
}
.slider .slider-content .slider-item {
  position: relative;
}
.slider .slider-content .slider-item .slider-detail {
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.slider .slider-content .slider-item .slider-detail .slider-heading {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}
.slider .slider-content .slider-item .slider-detail .slider-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}
.slider .slider-content .slider-item .slider-detail .description {
  width: 518px;
  font-size: 14px;
  margin-bottom: 61px;
  color: #e9e9e9;
  line-height: 1.5;
}
.slider .slider-content .slider-item .slider-detail .btn {
  border: 1px solid #fff;
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}
.slider .slider-content .slider-item .slider-detail .btn:hover {
  background-color: #fff;
  color: #000000;
  transition: all 0.5s;
}
.main-content .categories {
  position: relative;
  z-index: 1000;
}
.main-content .categories .categories-content {
  z-index: 1111;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(-77px);
}
.main-content .categories .categories-content-item {
  width: 33.33%;
  display: flex;
  align-items: center;
}
.main-content .categories .categories-content-item .item-image {
  display: flex;
  width: 100%;
  height: 100%;
}
.main-content .categories .categories-content-item .item-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 35px;
  text-align: center;
  background-color: #fff;
}
.main-content .categories .categories-content-item .item-content .item-icon {
  width: 70px;
  object-fit: contain;
}
.main-content .categories .categories-content-item .item-content .item-title {
  font-size: 18px;
  font-weight: 600;
  margin: 19px 0;
  text-transform: uppercase;
}
.main-content .categories .categories-content-item .item-content .item-desc {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  line-height: 1.5;
  margin-top: 25px;
}
.main-content .listing {
  margin-top: 5px;
}
.main-content .listing h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 33px;
  text-transform: uppercase;
}
.main-content .listing .listing-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #dddd;
}
.main-content .listing .listing-menu .btn-tab-bar {
  padding: 13px 18px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
}
.main-content .listing .listing-menu .active {
  color: #dd2f31;
  border-bottom: 2px solid #dd2f31;
}
.main-content .listing .listing-content .listing-item {
  width: 25%;
  padding: 0 15px;
  margin-top: 39px;
  box-sizing: border-box;
}
.main-content .listing .listing-content .listing-item .item-inner-top {
  display: flex;
  position: relative;
  overflow: hidden;
}
.main-content .listing .listing-content .listing-item .item-inner-top img {
  width: 100%;
  object-fit: contain;
}
.main-content .listing .listing-content .listing-item .item-inner-top .item-inner-action {
  position: absolute;
  top: 20px;
  right: 15px;
  display: none;
}
.main-content .listing .listing-content .listing-item .item-inner-top .item-inner-action i {
  display: block;
  padding: 9px;
  font-size: 14px;
  border: 1px solid #dddd;
  border-radius: 5px 0px;
  margin-bottom: 15px;
  color: #777777;
  cursor: pointer;
  transition: all 0.5s;
}
.main-content .listing .listing-content .listing-item .item-inner-top .item-inner-action i:hover {
  background: #dd2f31;
  color: #ffffff;
  border: 1px solid #dd2f31;
}
.main-content .listing .listing-content .listing-item .item-inner-bottom {
  padding: 30px;
}
.main-content .listing .listing-content .listing-item .item-inner-bottom .title {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 13px;
}
.main-content .listing .listing-content .listing-item .item-inner-bottom .price {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}
.main-content .listing .listing-content .listing-item .item-inner:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}
.main-content .listing .listing-content .listing-item .item-inner:hover .item-inner-action {
  display: block;
}
.main-content .testimonial {
  margin-top: 86px;
}
.main-content .testimonial .mySwiper .clients-say {
  text-align: center;
}
.main-content .testimonial .mySwiper .clients-say .title {
  display: block !important;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 45px ;
  padding: 10px 0;
}
.main-content .testimonial .mySwiper .clients-say .avatar-img {
  margin: 0 auto;
  width: 50px;
  height: 100%;
}
.main-content .testimonial .mySwiper .clients-say .message {
  max-width: 770px;
  margin: 24px auto;
  font-size: 18px;
  font-weight: 400;
}
.main-content .testimonial .mySwiper .clients-say .client-info {
  margin: 30px 0px;
}
.main-content .testimonial .mySwiper .clients-say .client-info .name-client {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.main-content .testimonial .mySwiper .clients-say .client-info .description {
  font-size: 14px;
}
.main-content .brands {
  margin-top: 118px;
  border-top: 1px solid #dddd;
}
.main-content .brands .brand-inner {
  display: flex;
}
.main-content .brands .brand-inner .brand-item {
  margin-top: 5px;
  width: 16.6%;
  padding: 0px 15px;
  box-sizing: border-box;
  cursor: pointer;
}
.main-content .brands .brand-inner .brand-item img {
  width: 100%;
  padding: 36px 20px;
}
.main-content .brands .brand-inner .brand-item img:hover {
  transform: scale(1.1);
}
.modal-nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1111;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.modal-nav .modal-container {
  width: 300px;
  height: 100vh;
  background: #5e5e5e;
}
.modal-nav .modal-menu {
  position: relative;
}
.modal-nav .modal-list {
  padding-top: 38px;
  font-size: 14px;
}
.modal-nav .modal-item {
  padding: 22px 32px;
}
.modal-nav .modal-item a {
  color: #fff;
}
.modal-nav .modal-item:hover {
  cursor: pointer;
  background: #dd2f31;
}
.modal-nav .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  color: #fff;
  padding: 16px;
}
.modal-nav .modal-close:hover {
  cursor: pointer;
}
.modal-nav .modal-close:hover i {
  color: #dd2f31;
}
@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */